html {
  height: 100%;
}
body {
  color: white;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}
.screen {
  padding: 25px;
  width: 100%;
  height: 100%;
  position: relative;
}
.screen:before {
  content: 'ˇ';
  font-size: 100px;
  text-align: center;
  position: absolute;
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  top: -80px;
}
.screen p {
  font-size: 16px;
}
.screen .title {
  font-style: italic;
}
.screen h6 {
  margin: 0;
  font-size: 18px;
}
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main .subtext {
  margin-top: 20px;
  font-size: 20px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel {
  text-align: center;
  border-bottom: 3px solid white;
}
.content {
  text-align: center;
  display: inline-block;
  width: 370px;
  opacity: 0;
}
.new-content-add {
  -webkit-transition: all linear 2s;
  transition: all linear 2s;
  opacity: 1;
}
.new-content-add.new-content-add-active {
  opacity: 0;
}
.cta {
  padding-top: 20px;
  text-align: center;
}
.cta a {
  color: white;
  font-size: 30px;
}
person {
  width: 100%;
  display: block;
}
person .name {
  display: inline-block;
  height: 90px;
  vertical-align: top;
  margin-left: 20px;
}
person .name span {
  vertical-align: middle;
  line-height: 90px;
  font-size: 24px;
}
person .mask {
  height: 90px;
  width: 90px;
  overflow: hidden;
  display: inline-block;
  border-radius: 45px;
  -webkit-box-shadow: 3px 3px 10px #222;
  box-shadow: 3px 3px 10px #222;
}
